# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

Sim

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [6]:
lista = ['Rafael', 31, 'Tayhana', 31, 'Ester', 5]
lista[1]

31

In [7]:
len(lista)

6

In [8]:
lista[1] = 30
lista

['Rafael', 30, 'Tayhana', 31, 'Ester', 5]

In [9]:
lista[1:]

[30, 'Tayhana', 31, 'Ester', 5]

In [10]:
lista.remove('Ester')
lista

['Rafael', 30, 'Tayhana', 31, 5]

In [12]:
salarios = [900,1200,1500,800,12587,10000]

In [13]:
10000 in salarios

True

In [15]:
max(salarios)

12587

In [16]:
min(salarios)

800

In [26]:
salarios.append(7000)

In [28]:
salarios = salarios + [200, 5200]
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 200, 5200]

In [29]:
salarios.index(800)

3

In [32]:
salarios.sort()
salarios

[200, 800, 900, 1200, 1500, 5200, 7000, 10000, 12587]

In [34]:
salarios.sort(reverse=True)
salarios

[12587, 10000, 7000, 5200, 1500, 1200, 900, 800, 200]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [35]:
dic = {'Rafael': 31, 'Tayhana': 31, 'Ester': 5}

In [36]:
dic['Tayhana']

31

In [37]:
dic.keys()

dict_keys(['Rafael', 'Tayhana', 'Ester'])

In [38]:
dic.values()

dict_values([31, 31, 5])

In [39]:
dic.setdefault('Felipe', 30)
dic

{'Rafael': 31, 'Tayhana': 31, 'Ester': 5, 'Felipe': 30}

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [41]:
if 5 > 1:
    print('5 é maior que 1')

5 é maior que 1

In [43]:
x1, y1 = 8, 6

if x1 > y1:
    print('x1 é maior que y1')
else:
    print('y1 é maior que x1')

x1 é maior que y1

In [44]:
for i in [2,3,4,5,6,7]:
    print(i * 2)

4
6
8
10
12
14

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**